page-menu {
  ion-content {
    padding: 16px;
    background: {
      image: url("../assets/imgs/Bitmap.png") !important;
      size: inherit;
      position: top;
    }
    .logo {
      text-align: center;
      margin-top: 100px;
    }
    .content {
      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        a {
          margin: 8px 0;
          text-decoration: none;
          color: rgb(4, 104, 57);
          font-weight: 700;
        }
        a:nth-child(2),
        a:nth-child(3){
          color: #999999;
          font-weight: normal;
        }
      }
      button{
        background: rgb(4, 104, 57);
        border-radius: 5px;
        color: white;
        padding: 10px;
        font-size: 19px;
        margin: 80px auto 0;
        text-align: center;
        display: block;
        line-height: 10px;
      }
    }

  }
}