<ion-content>
    <div class="logo"><img src="./assets/imgs/Logo_company.png" alt=""></div>
    <div class="content">
        <div>
            <a (click)="mySubscriptions(0)">My Subscriptions</a>
            <a>Daily</a>
            <a>AGResource LATAM</a>
            <a (click)="addSubscriptions(1)">Add Subscriptions</a>
            <a (click)="modal()">My Account</a>
            <a>Privacy Policy</a>
            <a (click)="logout()">Logout</a>
        </div>
        <button (click)="back()">x</button>
    </div>

</ion-content>